<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>微信支付二维码</title>
</head>
<body>
<div id="myQrcode" th:text="${codeUrl}"></div>  <!-- 微信支付二维码 -->
<div id="orderSn" hidden>${orderSn}</div>
<div id="returnUrl" hidden>${returnUrl}</div>  <!-- 跳转地址 -->

<script src="https://cdn.bootcss.com/jquery/1.5.1/jquery.min.js"></script>
<script src="https://cdn.bootcss.com/jquery.qrcode/1.0/jquery.qrcode.min.js"></script>
<script type="text/javascript" th:inline="javascript">
    //显示微信支付二维码
    jQuery('#myQrcode').qrcode({
        text	: [[${codeUrl}]]
    });
    //不断查询订单支付状态
    $(function () {
        //查询定时器
        setInterval(function () {
            console.log('查询支付状态...');
            $.ajax({
                'url': '/order/paymentinfo/getOrderStatus',
                data: {
                    'orderSn': $('#orderSn').text()
                },
                success: function (result) {
                    if (result.status != null
                        && result.status === 1) {
                        //跳转地址
                        console.log('查询到已支付...');
                        location.href = $('#returnUrl').text()
                    }
                },
                error: function (result) {
                    alert(result)
                }
            })
        }, 10000)
    });

</script>
</body>
</html>